/*
 * Copyright (c) 2010 René Brüntrup, Martin Lablans, Frank Ückert 
 * Licensed under the MIT X11 License (see LICENSE.txt).
 */

@CHARSET "UTF-8";

body {
	font-family: sans-serif
}

#topBar {
	width: 100%;
}

#topBar>div {
	margin: 5px;
	padding: 5px;
	background-color:#d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#left {
	width: 20%;
	min-height: 100%;
	float:left;
}

#left>div {
	min-height: 100%;
	margin: 5px;
	padding: 1px 5px 5px 5px;
	background-color:#d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#left h1 {
	font-size: 120%;
}

#left .item:hover{
	-moz-transform: scale(1.08);
	-webkit-transform: scale(1.08);
}

#middle {
	width: 80%;
	float:left;
}

#middle>div {
	margin: 5px;
	padding: 5px;
}

#middle h1 {
	font-size: 120%;
}