<!--
 - Copyright (c) 2010 René Brüntrup, Martin Lablans, Frank Ückert 
 - Licensed under the MIT X11 License (see LICENSE.txt).
 -->

<h2>DSLIB Demo</h2>
Sie sind nicht angemeldet.<br/>
Bitte melden Sie sich mit beliebigem Benutzernamen und Passwort an.<br/><br/>
Name: <input type="text" id="username" />
Passwort: <input type="password" id="password" />
<button onclick="ds.login($('#username').attr('value'), $('#password').attr('value'));">Login</button>
