<!--
 - Copyright (c) 2010 René Brüntrup, Martin Lablans, Frank Ückert 
 - Licensed under the MIT X11 License (see LICENSE.txt).
 -->

<div id="topBar">
	<div>
		<div style="float: left">Angemeldet als: <span id="username"></span></div>
		<div style="text-align: right"><a href=";" onclick="ds.logout(); return false;">Abmelden</a></div>
	</div>
</div>
<div id="left">
	<div>
		<h1>Patienten</h1>
		<div id="patientsDiv">
			<span><a class="item" href=";"></a><br/></span>
		</div>
	</div>
</div>
<div id="middle">
	<div id="content">
	</div>
</div>
