/*
 * Copyright (c) 2010 René Brüntrup, Martin Lablans, Frank Ückert 
 * Licensed under the MIT X11 License (see LICENSE.txt).
 */

@CHARSET "UTF-8";

body { font-family: sans-serif }

.header {
	min-width: 95%;
	width: auto !important;
	width: 95%;
	padding: 5px;
	margin: 5px;
	background-color:#d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.menu {
	min-height: 95%;
	height: auto !important;
	height: 95%;
	float:left;
	padding: 5px;
	margin: 5px;
	background-color:#d0d0d0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.menu .item:hover{
	-moz-transform: scale(1.08);
	-webkit-transform: scale(1.08);
}

.content {
	width: 75%;
	float:left;
	padding: 5px;
	margin: 5px;
}
